<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>OiOi needs access to your microphone to allow you to record audio messages.</string>
	<key>GIDClientID</key>
	<string>504131628719-vbdlgrphucrgrogcg5sst9r494b8bj4h.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.504131628719-vbdlgrphucrgrogcg5sst9r494b8bj4h</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
